body{
    background-color: rgb(10, 10, 10);
    color:azure;
}

h1{
    text-align: center;
}

.containerVideo{
    display: flex;
    justify-content:center ;
    width: 100%;
  }

.firstVideo{
    box-shadow: azure 0px 20px 30px -10px;
}

  .containerVideoSuggest{
    display: inline-block;
    flex-direction: column;
    width: 256px;
    align-items: center;
    margin-left: 3%;
  }

  .containerVideoSuggest iframe{
    width: 100%;
    height: 175px;
    margin-bottom: 1%;
  }